
h1
{
    font-size: 25px; /* Titres de 40 pixels */
    margin-left: 0px;
}
div
{
    margin-left: 35px;
    line-height: 1.5;
}
table
{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: 35px;
}
body
{
    background-color: #f2f2f2;
}
